@import "../../Styles/Variables/Variables.scss";

.eventsHomePageContainer {
    margin: 20px 10px;
    @include flexColumn(center, center);
    font-family: $font;
}

.events {
    @include flexColumn(flex-start, center);
}

.eventDetails {
    @include flexRow(center, center);
    margin: 10px 0;
    background-color: rgb(222, 220, 220);
    border-radius: 18px;
    padding: 10px;
}

#eventName, #eventStartTime, #eventEndTime, #eventCapacity {
    margin: 0 10px;
}

#registerEvent {
    @include buttonStyle();
    background-color: rgb(167, 235, 122);
    padding: 10px 20px;
    border-radius: 18px;
}

#eventsHomePageContainerHeader{
    font-size: 20px;
}

#registeredEvents{
    @include buttonStyle();
    background-color: rgb(147, 225, 251);
    padding: 10px 20px;
    border-radius: 18px;   
}

#createEvent{
    @include buttonStyle();
    background-color: rgb(252, 178, 82);
    padding: 10px 20px;
    border-radius: 18px;
}

#crossBtn{
    margin: 0 10px;
}

#deleteEvent{
    @include buttonStyle();   
}

.eventForm{
    margin-top: 20px;
    @include flexColumn(center, center);
}

#eventFormSubmit {
    margin-top: 10px;
    @include buttonStyle();
    background-color: rgb(141, 252, 82);
    padding: 10px 20px;
    border-radius: 18px;
}